In [17]:
import nltk as n
import nltk.tokenize as nt
# n.download()
# only run the download command if you dont have NLTK libraries installed...

In [18]:
# reading data from text file into var f...
f = open("Transcripts\\transcript_Ayush Kumar.txt", "r")
transcribed_txt_file = f.read()
# print(transcribed_txt_file)

In [19]:
import pandas as pd
pd.set_option("max_colwidth",150)
data = {"Sales_ID": ["SalesID1"],"Transcript":transcribed_txt_file}
df = pd.DataFrame.from_dict(data)
df.to_csv("Transcripts_demo.csv")

In [20]:
df

,Sales_ID,Transcript
0,SalesID1,"Good morning, sir. My name is Irish Emma and I'm the president of of the session. I would like to start this session by thanking you for lying ..."

In [21]:
data.keys()

dict_keys(['Sales_ID', 'Transcript'])

Cleaning text....
1. Changing all to lower case
2. Removing punctuation
3. Removing numbers
Obj: Attaining a text file from which we will tokenise and generate a document word matrix...

In [22]:
import re
import string

In [23]:
# Defining a function for round 1 of data cleaning...

def clean_text_round1(text):
    text = text.lower()     #changing all to lower case...
    text = re.sub("[%s]" %re.escape(string.punctuation),"",text)    # removing punctuations...
    text = re.sub("\w*\d\w*","",text)   #removing numbers & surround characters...
    text = re.sub("\n","",text)
    return text
round1 = lambda x: clean_text_round1(x) # defining a lambda function to make referencing the clean_text_round1() function ez...

In [24]:
data_clean = pd.DataFrame(df.Transcript.apply(round1))

In [25]:
data_clean

                                                                                                                                              Transcript
0    good morning sir my name is irish emma and im the president of of the session  i would like to start this session by thanking you for lying us  ...

In [26]:
df

,Sales_ID,Transcript
0,SalesID1,"Good morning, sir. My name is Irish Emma and I'm the president of of the session. I would like to start this session by thanking you for lying ..."

In [27]:
df.Transcript = df.Transcript.apply(round1)

In [28]:
df

,Sales_ID,Transcript
0,SalesID1,good morning sir my name is irish emma and im the president of of the session i would like to start this session by thanking you for lying us ...

In [29]:
import pickle
df.to_pickle("transcribed_cleaned_data.pkl")

# Pickling data for use in later files...

Creating a Document-Term-Matrix next and removing common English "Stop Words" using count vectoriser from sklearn library...

In [30]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(stop_words="english")
data_cv = cv.fit_transform(df.Transcript)
data_dtm = pd.DataFrame(data_cv.toarray(), columns=cv.get_feature_names_out())
data_dtm.index = df.index
data_dtm
data_dtm.to_pickle("count_vectorised_data.pkl")

In [31]:
data_dtm.insert(0,"Sales_ID",["SalesID1"])
data_dtm

,Sales_ID,ability,accessibility,accommodated,accompany,activity,add,added,additional,address,...,whats,white,wide,width,wills,window,windows,wool,work,year
0,SalesID1,1,1,1,1,1,2,1,1,1,...,1,1,3,2,1,13,7,1,2,1

In [32]:
data_dtm.to_pickle("count_vectorised_data.pkl")
data_dtm.to_csv("tokenised_data_from_transcript.csv")